@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$main-font: "Roboto", sans-serif;

$fontSizeXs: 12px;
$fontSizeSm: 14px;
$fontSizeBase: 16px;
$fontSizeMd: 18px;
$fontSizeLg: 20px;
$fontSizeXl: 24px;
$fontSize2Xl: 32px;
$fontSize3Xl: 40px;
$fontSize4Xl: 48px;
$fontSize5Xl: 64px;
